templates/stepfunction.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: The StepFunction which controls how the canary rolls forward, or backward

Parameters:
  TemplateBucket:
    Type: String
    
Resources:
  LambdaExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
      - PolicyName: root
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            Resource: arn:aws:logs:*:*:*
          - Effect: Allow
            Action:
            - dynamodb:*
            Resource: "*"
          - Effect: Allow
            Action:
            - route53:*
            Resource: "*"

  MyLambdaFunction:
    Type: "AWS::Lambda::Function"
    Properties:
      Handler: lambda_function.lambda_handler  # <file_name [excluding .py]>.<entry_point>
      Role: !GetAtt [ LambdaExecutionRole, Arn ]
      Code:
        S3Bucket: !Ref TemplateBucket # no s3:// in prefix
        S3Key: lambdafunctions/changeRoute53Weights.zip
      Description: Updates Route53 with new weights
      Runtime: "python3.6"
      MemorySize: 128
      Timeout: 3

  StatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource: "*"

  MyStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: 
        !Sub
          - |-
            {
              "Comment": "Altering Route53 weights for canary blue-green deployment",
              "StartAt": "FirstState",
              "States": {
                "FirstState": {
                  "Type": "Pass",
                  "Result": 10,
                  "ResultPath":"$.weight",
                  "Next": "change_10_percent"
                },
                "change_10_percent": {
                  "Type": "Task",
                  "Resource": "${lambdaArn}",
                  "ResultPath":"$.target",
                  "TimeoutSeconds":3,
                  "Next": "wait_60_secondsA"
                },
                "wait_60_secondsA": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "send_50"
                },
                "send_50": {
                  "Type": "Pass",
                  "Result": 50,
                  "InputPath":"$.target",
                  "ResultPath":"$.weight",
                  "Next": "change_50_percent"
                  },
                "change_50_percent": {
                  "Type": "Task",
                  "Resource": "${lambdaArn}",
                  "ResultPath":"$.target",
                  "TimeoutSeconds":3,
                  "Next": "wait_60_secondsB"
                  },
                "wait_60_secondsB": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "send_100"
                },
                "send_100": {
                  "Type": "Pass",
                  "Result": 100,
                  "InputPath":"$.target",
                  "ResultPath":"$.weight",
                  "Next": "change_100_percent"
                  },
                "change_100_percent": {
                  "Type": "Task",
                  "Resource": "${lambdaArn}",
                  "ResultPath":"$.target",
                  "TimeoutSeconds":3,
                  "End":true
                }
              }
            }
          - {lambdaArn: !GetAtt [ MyLambdaFunction, Arn ]}
      RoleArn: !GetAtt [ StatesExecutionRole, Arn ]

Outputs:
  StepArn:
    Description: The ARN of the StepFunction.  This is needed by the handleECSEvents lambda
    Value: !Ref MyStateMachine